[Desktop Entry]
Version=1.0
Type=Application
Name=Autarky
Comment=Autarky TUI
Exec=foot --app-id=Autarky -e bash -c '$HOME/.local/share/autarky/bin/autarky'
Icon=Arch
Terminal=false
Categories=System;Utility;
StartupNotify=false 
