[Desktop Entry]
Type=Application
Name=Hermes
GenericName=Hermes Desktop
Comment=Launch Hermes Desktop
Exec=hermes desktop
Icon=hermes
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=Hermes
MimeType=x-scheme-handler/hermes;
