[Desktop Entry]
Version=1.0
Name=WhatsApp
Comment=WhatsApp
Exec=zen-browser --new-window --app="https://web.whatsapp.com/" --name="WhatsApp" --class="WhatsApp"
Terminal=false
Type=Application
Icon=whatsapp
StartupNotify=true
