[Desktop Entry]
Name=Audio Settings
Comment=Using Wiremix
Exec=footclient --app-id=Wiremix -e wiremix
Icon=audio-card
Type=Application
Terminal=false
