@import "../autarky/current/theme/waybar.css";

* {
  color: @foreground;
  background-color: transparent;
  font-family: Iosevka NF;
}

tooltip {
  padding: 1px;
  margin: 1px;

  border: 4px solid @foreground;
  border-radius: 10px;
  background-color: @background;
}

tooltip * {
  padding: 4px;
  font-size: 15px;
  color: @foreground;

  background-color: transparent;
  border: none;
}

.modules-left {
  margin: 300px 1px 1px 1px;
}

#pulseaudio {
  /* pad is top-right-bot-left */
  padding: 1px 6px 1px 1px;
  font-size: 20px;
}

#network {
  padding: 1px 4px 1px 1px;
  font-size: 20px;
}

#bluetooth {
  padding: 1px 1px 1px 4px;
  font-size: 22px;
}

#cpu {
  padding: 1px 6px 1px 1px;
  font-size: 22px;
}

#battery {
  margin: 1px 5px;
  padding: 1px;
  font-size: 20px;
}

#tray {
  /* margin is "outside" the border, padding is within it */
  margin: 0px 0px 10px 0px;
  padding: 20px 6px 20px 6px;
  border-radius: 8px;
  background-color: @background;
  border: 4px solid @foreground;
}

#blob {
  margin: 0px 0px 10px 0px;
  padding: 10px 1px 10px 1px;
  border-radius: 8px;
  background-color: @background;
  border: 4px solid @foreground;
}

.popup-menu {
  margin: 1px 6px;
  /* padding: 1px 10px; */
  border-radius: 10px;
  background-color: @background;
  border: 4px solid @foreground;
}

#clock {
  margin: 0px 0px 10px 0px;
  padding: 10px 1px 10px 1px;
  border-radius: 10px;
  background-color: @background;
  /* min-width: 12px; */
  border: 4px solid @foreground;
  font-size: 20px;
}

#workspaces {
  margin: 0px 0px 10px 0px;
  padding: 10px 1px 10px 1px;
  border-radius: 10px;
  background-color: @background;
  /* min-width: 12px; */
  border: 4px solid @foreground;
  font-size: 20px;
}

#workspaces button {
  padding: 1px;
  margin: 2px;
  border: none;
}

#workspaces button:hover {
  background: @background;
  border: none;
  box-shadow: none;
}
