@import "../autarky/current/theme/waybar.css";

* {
  color: @foreground;
  background-color: transparent;
  font-family: Iosevka NF;
}

tooltip {
  padding: 1px;
  margin: 1px;

  border: 3px solid @foreground;
  border-radius: 10px;
  background-color: @background;
}

tooltip * {
  padding: 3px;
  font-size: 18px;
  color: @foreground;
  border: none;
}

.modules-left {
  margin: 300px 0px 0px -20px;
  padding: 0px 3px 0px 10px;
  border-radius: 8px;
  border-top: 3px solid @foreground;
  border-right: 3px solid @foreground;
  border-bottom: 3px solid @foreground;
  background-color: alpha(@background, 0.9);
}

#pulseaudio {
  /* pad is top-right-bot-left */
  padding: 1px 6px 1px 1px;
  font-size: 24px;
}

#network {
  padding: 1px 4px 1px 1px;
  font-size: 24px;
}

#bluetooth {
  padding: 1px 1px 1px 3px;
  font-size: 24px;
}

#cpu {
  padding: 1px 6px 1px 1px;
  font-size: 24px;
}

#battery {
  padding: 1px 6px 1px 1px;
  font-size: 24px;
}

#tray {
  /* margin is "outside" the border, padding is within it */
  padding: 0px 0px 0px 0px;
  margin: 20px 5px 0px 15px;
  border-radius: 8px;
  background-color: transparent;
  /* border: 3px solid @foreground; */
  border: 1px solid transparent;
}

#tray menu {
  background: @background;
  color: @foreground;
  border: 3px solid @foreground;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
}

#tray menu menuitem:hover {
    background: #1a1a1a;
}

#blob {
  padding: 0px 0px 0px 0px;
  margin: 20px 5px 0px 10px;
  border-radius: 8px;
  background-color: transparent;
  /* border: 3px solid @foreground; */
  border: 1px solid transparent;
}

.popup-menu {
  margin: 1px 6px;
  border-radius: 10px;
  background-color: @background;
  border: 3px solid @foreground;
}

#workspaces {
  padding: 0px 0px 0px 0px;
  margin: 20px 5px 0px 10px;
  border-radius: 10px;
  background-color: transparent;
  font-size: 24px;
  /* border: 3px solid @foreground; */
  border: 1px solid transparent;
}

#workspaces button {
  padding: 2px;
  margin: 1px;
  border: none;
}

#workspaces button:hover {
  background: @background;
  border: none;
  box-shadow: none;
}

#clock {
  padding: 0px 0px 0px 0px;
  margin: 20px 5px 20px 10px;
  background-color: @background;
  border: 1px solid transparent;
  font-size: 24px;
}

