@import "../autarky/current/theme/swayosd.css";

window {
  border-radius: 12px;
  opacity: 0.97;
  border: 3px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'JetBrainsMono Nerd Font', monospace;
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 12px;
}

progress {
  background-color: @progress;
}
